*{
    margin: 0;
    padding: 0;
}

/* Shared styles */
/* Colors */
.dark-01{
    color: #131313;
}
.dark-02{
 color: #424242;
}
.dark-03{
 color: #727272;
}
.dark-04{
 color: #A1A1A1;
}
.dark-05{
 color: #D0D0D0;
}
.dark-06{
 color: #E7E7E7;
}
.dark-07{
 color: #F3F3F3;
}
.white{
    color: #ffffff;
}
.ancient{
    color: #FF900E;
}


.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.max-width{
    max-width: 1440px;
    margin: 0 auto;
}
.bg{
    background-color: rgba(255, 144, 14, 0.1);
}

.heading{
    font-size: 45px;
    font-weight: bold;
    color: #131313;
}
.text{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
    color: #424242;
    margin: 30px 0;
}
.btn-primary{
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    color: #ffffff;
    padding: 20px 25px;
}
.btn-primary:hover{
    background-color: transparent;
    border: 2px solid #FF900E;
    color: #FF900E;
}


/* Header styles */
/* navbar syles */
.nav{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menus ul{
    display: flex;
    align-items: center;
    gap: 70px;
}
.menus ul li{
    list-style: none;
}
.menus ul li a{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-decoration: none;
    color: #424242;
}
.menus ul li a:hover{
    color: #FF900E;
}
.menus ul li a:active{
    color: #FF900E;
}

/* Hero styles */
.hero{
    text-align: center;
    margin-top: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.hero h1{
    font-size: 64px;
    font-weight:bold;
    line-height: 72px;
    text-decoration: none;
    color: #131313;
    /* margin-bottom: 30px; */
}
.hero-content{
    width: 60%;
}
.hero-image img{
    width: 100%;
    margin-bottom: 45px;
}

/* Quick List Styles */
.quick-list{
    margin-top: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 75px;
}
.quick-list-images{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
}
.quick-list-image{
    width: 100%;
}
.quick-list-content{
    width: 50%;
}
.quick-list-content div{
    width: 80%;
}

/* Footer Styles */
.footer-area{
    margin: 80px auto;
    text-align: center;
}
.footer-brand{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: space-around;
    align-items: center;
}

.footer-bottom{
    margin: 130px auto;
    padding: 10px 0px;
    border-radius: 8px;
}



/* Responsive */
@media screen and (max-width:576px) {
    .max-width{
        padding: 20px 20px;
    }
    .text{
        margin: 15px 0px;
    }
    .btn-primary{
        font-size: 18px;
        padding: 14px 20px;
    }

    
    /* nav */
    .heading{
        font-size: 22px;
        font-weight: bold;
        color: #131313;
    }
    .menus ul{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .menus ul li a{
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        text-decoration: none;
        color: #424242;
    }


    /* hero */
    .hero{
        margin-top: 20px;
        gap: 30px;
    }
    .hero h1{
        font-size: 34px;
        font-weight:bold;
        line-height: 42px;
        text-decoration: none;
        color: #131313;
        margin: 0 auto;
        width: 60%;
    }
    .hero-content{
        width: 100%;
    }


    /* Quick list */
    .quick-list{
        margin-top: 30px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }
    .quick-list-images{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    .quick-list-image{
        width: 100%;
    }
    .quick-list-content{
        width: 100%;
        text-align: center;
    }
    .quick-list-content div{
        width: 100%;
    }


    /* Footer Style */
    .footer-area{
        margin-top: 20px;
        padding: 0px 15px;
    }
    .footer-brand{
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
    }
    .brand-item{
        width: 80%;
    }
    .footer-bottom{
        margin: 50px 0 20px 0;
    }
}

