*{
    margin: 0;
    padding: 0;
}

/* Shared styles */
/* Colors */
.dark-01{
    color: #131313;
}
.dark-02{
 color: #424242;
}
.dark-03{
 color: #727272;
}
.dark-04{
 color: #A1A1A1;
}
.dark-05{
 color: #D0D0D0;
}
.dark-06{
 color: #E7E7E7;
}
.dark-07{
 color: #F3F3F3;
}
.white{
    color: #ffffff;
}


.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.max-width{
    max-width: 1440px;
    margin: 0 auto;
}
.bg{
    background-color: rgba(255, 144, 14, 0.1);
}

.heading{
    font-size: 45px;
    font-weight: bold;
    color: #131313;
}
.text{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
    color: #424242;
    margin-bottom: 30px;
}
.btn-primary{
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    color: #ffffff;
    padding: 20px 25px;
}
.btn-primary:hover{
    background-color: transparent;
    border: 2px solid #FF900E;
    color: #FF900E;
}


/* Header styles */
/* navbar syles */
.nav{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menus ul{
    display: flex;
    align-items: center;
    gap: 70px;
}
.menus ul li{
    list-style: none;
}
.menus ul li a{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-decoration: none;
    color: #424242;
}
.menus ul li a:hover{
    color: #FF900E;
}
.menus ul li a:active{
    color: #FF900E;
}

/* Hero styles */
.hero{
    text-align: center;
    margin-top: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.hero h1{
    font-size: 64px;
    font-weight:bold;
    text-decoration: none;
    color: #131313;
    margin-bottom: 30px;
}
.hero-content{
    width: 60%;
}
.hero-image img{
    width: 100%;
    margin-bottom: 45px;
}




/* Responsive */
@media screen and (max-width:576px) {
    .max-width{
        padding: 20px 20px;
    }
    .text{
        margin-bottom: 20px;
    }
    .btn-primary{
        font-size: 18px;
        padding: 14px 20px;
    }
    /* nav */
    .heading{
        font-size: 22px;
        font-weight: bold;
        color: #131313;
    }
    .menus ul{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .menus ul li a{
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        text-decoration: none;
        color: #424242;
    }
    /* hero */
    .hero{
        margin-top: 20px;
        gap: 30px;
    }
    .hero h1{
        font-size: 34px;
        font-weight:bold;
        text-decoration: none;
        color: #131313;
        margin: 0 auto;
        margin-bottom: 20px;
        width: 60%;
    }
    .hero-content{
        width: 100%;
    }

}